@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    --shadow: #000000;

    --background-light: #FEFBFF;
    --on-background-light: #1B1B1F;

    --primary-light: #005AC1;
    --on-primary-light: #FFFFFF;

    --primary-container-light: #D8E2FF;
    --on-primary-container-light: #001A41;

    --surface-variant-light: #E1E2EC;
    --on-surface-variant-light: #44474F;
    --on-surface-light: #1B1B1F;

    --background-dark: #1B1B1F;
    --on-background-dark: #E3E2E6;

    --primary-dark: #ADC6FF;
    --on-primary-dark: #002E69;

    --primary-container-dark: #004494;
    --on-primary-container-dark: #D8E2FF;

    --surface-variant-dark: #44474F;
    --on-surface-variant-dark: #C4C6D0;
    --on-surface-dark: #E3E2E6;

    @media(prefers-color-scheme: light) {
        --primary: var(--primary-light);
        --on-primary: var(--on-primary-light);

        --primary-container: var(--primary-container-light);
        --on-primary-container: var(--on-primary-container-light);

        --background: var(--background-light);
        --on-background: var(--on-background-light);

        --surface-variant: var(--surface-variant-light);
        --on-surface-variant: var(--on-surface-variant-light);
        --on-surface: var(--on-surface-light);
        --display-color: var(--primary-light);
    }
    @media(prefers-color-scheme: dark) {
        --primary: var(--primary-dark);
        --on-primary: var(--on-primary-dark);

        --primary-container: var(--primary-container-dark);
        --on-primary-container: var(--on-primary-container-dark);

        --background: var(--background-dark);
        --on-background: var(--on-background-dark);

        --surface-variant: var(--surface-variant-dark);
        --on-surface-variant: var(--on-surface-variant-dark);
        --on-surface: var(--on-surface-dark);
        --display-color: var(--on-primary-dark);
      }
}

@mixin display-small {
    line-height: 44px;
    font-size: 36px;
    letter-spacing: 0px;
    font-weight: 400; 
}

@mixin display-medium {
    line-height: 52px;
    font-size: 45px;
    letter-spacing: 0px;
    font-weight: 400; 
}

@mixin display-large {
    line-height: 64px;
    font-size: 57px;
    letter-spacing: 0px;
    font-weight: 400; 
}

@mixin headline-small {
    line-height: 32px;
    font-size: 24px;
    letter-spacing: 0px;
    font-weight: 400;
}

@mixin headline-medium {
    line-height: 36px;
    font-size: 28px;
    letter-spacing: 0px;
    font-weight: 400;
}

@mixin headline-large {
    line-height: 40px;
    font-size: 32px;
    letter-spacing: 0px;
    font-weight: 400;
}

@mixin title-small {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
}

@mixin title-medium {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

@mixin title-large {
    line-height: 28px;
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 400;
}

@mixin body-small {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 400;
}

@mixin body-medium {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

@mixin body-large {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

@mixin label-small {
    line-height: 16px;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

@mixin label-medium {
    line-height: 16px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

@mixin label-large {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: 500;
}

body {
    display: grid;
    grid-template-rows: 50vh repeat(2, min-content);
    gap: 24px;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: unquote("Roboto");
    scroll-behavior: smooth;
}

.maincontent {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-inline: 16px;
    // .body-margin {
    //     background: yellow;
    //     content: '';
    //     flex-grow: 1;
    //     flex-basis: 32px;
    //     margin: 0;
    //     padding: 0;
    // }
    // .middle-section {
    //     margin: 0;
    //     padding: 0;
    // }
}

.hero-section {
    color: var(--display-color);
    padding-block: 32px;
    padding-inline: 64px; 
    background-image: url('assets/img.jpg');
    //background-color: #dbe8f6;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: grid;
    align-content: space-between;
    justify-items: center;
    h1 {
        margin: 0;
        @include display-small();
    }

    .button {
        position: relative;
        isolation: isolate;
        background-color: var(--primary);
        color: var(--on-primary);
        width: 99px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 24px;
        @include label-large();
        box-shadow: 0px 4px 4px var(--shadow);
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: var(--state-layer-opacity, 0);
            background-color: var(--on-primary);
            z-index: -1;
            border-radius: inherit;
          }
        &:hover {
            --state-layer-opacity: .08;
            box-shadow: 0px 1px 2px var(--shadow), 0px 1px 3px 1px var(--shadow);
            cursor: pointer;
        }
    }
}

.content {
    color: var(--on-background);
    border-radius: 12px;
    padding: 16px;
    &:nth-child(odd):not(:last-child) {
        background-color: var(--primary-container);
        color: var(--on-primary-container);
    }
}

h2 {
    margin: 0;
    @include headline-small();
    margin-bottom: 20px;
}

h3 {
    @include title-small();
}

p {
    @include body-medium();
    margin: 0;
}

.illustated-block {
    display: flex;
    flex-direction: column;
    img {
        width: 300px;
        margin: auto;
    }
}

.facts-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    .fact-card {
        display: grid;
        background-color: var(--surface-variant);
        position: relative;
        isolation: isolate;
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: var(--state-layer-opacity, 0);
            background-color: var(--on-surface);
            z-index: -1;
            border-radius: inherit;
          }
        &:hover {
            --state-layer-opacity: .08;
            box-shadow: 0px 1px 2px var(--shadow), 0px 1px 3px 1px var(--shadow);
        }
        h4 {
            margin-block: 0;
            color: var(--on-surface);
            @include title-medium();
        }
        p {
            color: var(--on-surface-variant);
            @include body-medium();
            max-width: 60ch;
        }
        img {
            width: 0px;
            border-radius: inherit;
        }
        .fact-description {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
        }
    }
}

.links-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    @include label-large();
    width: 100%;
    a {
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 20px;
        padding-inline: 12px;
        position: relative;
        isolation: isolate;
        &:visited {
            color: var(--primary);
        }
        &:before {
            content: '';
            position: absolute;
            inset: 0;
            opacity: var(--state-layer-opacity, 0);
            background-color: var(--primary);
            z-index: -1;
            border-radius: inherit;
        }
        &:hover {
            --state-layer-opacity: .08;
            box-shadow: 0px 1px 2px var(--shadow), 0px 1px 3px 1px var(--shadow);
        }
    }
    
}

footer {
    @include label-small();
    text-align: center;
}

@media(min-width: 415px) {
    .hero-section {
        h1 {
            @include display-medium();
        }
    }
    h2 {
        @include headline-medium();
    }
    h3 {
        @include title-medium();
    }
    p {
        @include body-medium();
    }
    .facts-section {
        grid-template-columns: 1fr 1fr;
        .fact-card {
            border-radius: 12px;
            img {
                width: 100%;
            }
            h4 {
                @include title-medium();
            }
            p {
                @include body-medium();
            }
        }
    }
    .links-section {
        @include label-medium();
        grid-template-columns: repeat(2, 1fr);
    }
    footer {
        @include label-small();
        color: var(--on-surface-variant);
    }
}

@media(min-width: 632px) {
    .maincontent {
        margin-inline: 32px;
    }
}

@media(min-width: 840px) {
    .hero-section {
        background-position-y: 35%;
        h1 {
            @include display-large();
        }
    }
    .illustated-block {
        flex-direction: row;
        align-items: center;
    }
    h2 {
        @include headline-medium();
    }
    h3 {
        @include title-medium();
    }
    p {
        @include body-medium();
    }
    .facts-section {
        grid-template-columns: repeat(3, 1fr);
        .fact-card {
            h4 {
                @include title-medium();
            }
            p {
                @include body-medium();
            }
        }
    }
    .links-section {
        @include label-medium();
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        @include label-small();
    }
}


@media(min-width: 904px) {
    .maincontent {
        margin-inline: 100px;
    }
}

@media(min-width: 1200px) {
    .links-section {
        grid-template-columns: repeat(4, 1fr);
    }
    .maincontent {
        margin-inline: 200px;
    }
}